.userInfoDiv{
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #737bc0;
}

.formCpm{
  margin-right: 1rem;
  margin-left: 1rem;
}

.example-form{
  margin-top: 2rem;
}

.item {
  flex-basis: calc(15% - 1rem);
  margin: 1rem;
  padding: 1rem;
  border: 0.13rem solid black;
  color: white;
  font-size: 1rem;
  border-radius: 3%;
}

.item:hover{
  background-color: darkslateblue;
  transition: 0.5s;
}

.formContainer{
  padding: 3rem; margin: 3px;
  text-align: center;

}

.formElement{
  margin-right: 2rem;
}
