<div class="formContainer">
  <h1>Agregar User a la Lista</h1>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Ingrese el nombre" [(ngModel)]="newUser.name" name="name" >
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ingrese el correo" [(ngModel)]="newUser.email" name="email" >
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveUser()">Guardar</button>
  </form>

</div>

<div class="userInfoDiv">
  <div class="item" *ngFor="let user of usersjson">
    <p>Nombre: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
  </div>
</div>
