.componentDiv{
  padding: 2rem;
}

.example-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imageC{
  text-align: center;
}

.characterImage {
  margin: auto;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin-top: 5rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.item {
  text-align: center;
  flex-basis: calc(25% - 3rem);
  background-color: #737bc0;
  margin-bottom: 2rem;
  padding: 3rem;
  border-radius: 3%;
  color: white;
  font-size: 1rem;
}
